@layer kern-component {
	:host {
		display: inline-block;
	}

	:is(a, button) {
		display: inline-flex;
		place-items: center;
		text-align: center;
		text-decoration-line: none;
	}

	:is(button):disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
