
body {
	font-family: Arial, sans-serif;
	transition: background-color 0.3s;
}

#page-header {
	background-color: #fdfdfd;
	padding: 1.5rem 0;
	text-align: center;
	margin-bottom: 2rem;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#theme-switcher {
	text-align: center;
	margin-bottom: 2rem;
}

.theme-btn {
	padding: 10px 20px;
	margin: 0 10px;
	border: none;
	cursor: pointer;
}

.component-section {
	margin-bottom: 4rem;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	overflow: hidden; /* Um sicherzustellen, dass die inneren Elemente die Ränder des Containers nicht überlappen */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ein leichter Schattenwurf für einen "hebenden" Effekt */
	background-color: white;
}

.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f7f7f7;
	padding: 1rem 2rem;
	border-bottom: 1px solid #e0e0e0;
}

.header-icons {
	display: flex;
	gap: 0.5rem
}

.component-section h2 {
	background-color: #f7f7f7;
	text-align: center;
	margin: 0; /* Überschreiben des vorherigen Margins */
	padding: 1rem 0;
	font-size: 1.5rem;
	border-bottom: 1px solid #e0e0e0;
}

.component-row {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	flex-wrap: wrap;
}

.component-col {
	display: grid;
	align-items: stretch;
	align-content: flex-start;
	/* justify-content: flex-start; */
	gap: 2rem; /* Abstand zwischen den Elementen */
	padding: 2rem;
	width: calc(100% - 64px);
}

.component-col--default {
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Passt die Anzahl der Spalten dynamisch an */
}

.component-col--label {
	width: 200px;
	justify-content: flex-start;
}

.component-col--auto {
	grid-template-columns: auto; /* Passt die Anzahl der Spalten dynamisch an */
}

.component-col--alerts,
.component-col--links {
	grid-template-columns: repeat(auto-fill, minmax(250px, 350px)); /* Passt die Anzahl der Spalten dynamisch an */
}

.variant-label {
	font-weight: bold;
	grid-column: span 1; /* Nimmt genau eine Spalte ein */
}

.component {
	padding: 20px;
	text-align: center;
	background-color: #f5f5f5;
	border-radius: 6px;
	transition: transform 0.3s;
	grid-column: span 1; /* Nimmt genau eine Spalte ein */
}


.variables-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	box-shadow: 0px 0px 5px -2px;
	border-radius: 11px;
	padding: 0.5rem;
}
.color-shower {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.color-primary {
	background-color: var(--core-color-brand-default);
}
.color-neutral {
	background-color: var(--core-color-neutral-default);
}
.color-accent-1 {
	background-color: var(--core-color-accent-1-default);
}
.color-accent-2 {
	background-color: var(--core-color-accent-2-default);
}
