@mixin alert-heading($color) {
	display: flex;
	gap: var(--semantic-space-md);
	align-items: center;
	align-self: stretch;
	border-radius: var(--semantic-space-2xs);

	.heading-icon {
		align-self: baseline;
		padding: 0;
	}

	> div {
		margin: 0;
	}

	.close {
		margin-left: auto;

		button {
			min-width: inherit;
			min-height: inherit;
			font-size: var(--semantic-font-size-md);

			&:hover {
				background-color: var($color);
			}
		}
	}
}

@mixin alert-variant($type, $color, $variant, $icon) {
	background-color: var($color);
	@if $variant == msg {
		border: 2px solid var(--semantic-color-stroke-static-#{$type});
		// background-color: var($color);
		kol-icon::part(icon)::after {
			color: var(--semantic-color-fg-static-#{$type});
			font-size: 32px;
		}
	} @else {
		border: 2px solid var(--semantic-color-stroke-static-#{$type});
		kol-icon::part(icon)::after {
			color: var(--semantic-color-fg-static-#{$type});

			// TODO: var(--semantic-font-size-2xl) ist fluide, sollte nicht sein
			// font-size: var(--semantic-font-size-2xl);
			font-size: 32px;
			// width: 32px;
			// height: 32px;
		}
	}

	.heading {
		padding: var(--semantic-space-md, 16px);
		border-radius: var(--semantic-space-2xs) var(--semantic-space-2xs) 0 0;
		background: var($color);
	}

	.content {
		background: var(--semantic-color-bg-static-base);
		font-size: var(--semantic-font-size-base);
		color: var(--semantic-color-fg-static-base, --core-color-black-default);
		font-weight: var(--semantic-font-weight-regular);
		line-height: var(--semantic-font-line-height-default);
		border-radius: 0 0 var(--semantic-space-3xs) var(--semantic-space-3xs);
	}

	.heading-icon {
		// margin-right: var(--semantic-space-md);

		@if $type == warning {
			color: var(--semantic-color-fg-static-base);
		} @else {
			color: var($color);
		}
		background-color: transparent;
	}

	kol-button-wc {
		&.close {
			kol-icon::part(icon)::before {
				content: "close";
				font-size: 1.5rem !important;
			}
		}
	}
}

@mixin button-variant($background, $color, $variant) {
	button {
		> kol-span-wc {
			background-color: var($background);
			border-color: var(--component-color-button-border-#{$variant}-default);
			color: var($color);
		}

		&:focus,
		&:hover {
			> kol-span-wc {
				background-color: var(--component-color-button-surface-#{$variant}-hover);
				color: var(--component-color-button-on-surface-#{$variant}-hover);
			}
		}
	}
}
