@use 'functions';
@use 'sass:color';
@use "sass:meta";

// Theme Colors
$core-color-brand-default: #32008C !default;
$core-color-accent-1-default: #8466BA !default;
$core-color-accent-2-default: #2478C5 !default;
$core-color-neutral-default: #7D95A6 !default;

// ====================== //

$font-family: 'Noto Sans Regular', Arial, Helvetica, sans-serif;
$font-family-bold: 'Noto Sans Bold', Arial, Helvetica, sans-serif;
$font-weight-bold: 700;
$font-base-size: 16;

$static-0: 0;
$static-2: 0.125rem;
$static-4: 0.25rem;
$static-8: 0.5rem;
$static-12: 0.75rem;
$static-14: 0.875rem;
$static-16: 1rem;
$static-18: 1.125rem;
$static-20: 1.25rem;
$static-22: 1.375rem;
$static-24: 1.5rem;
$static-28: 1.75rem;
$static-32: 2rem;
$static-36: 2.25rem;
$static-40: 2.5rem;
$static-48: 3rem;
$static-64: 4rem;
$static-80: 5rem;
$static-96: 6rem;
$static-128: 8rem;
$static-160: 10rem;
$static-192: 12rem;
$static-240: 15rem;

$scale-75: 75%;
$scale-100: 100%;
$scale-125: 125%;

$weight-300: 300;
$weight-400: 400;
$weight-700: 700;

$line-height-100: 1;
$line-height-125: 1.25;
$line-height-150: 1.5;
$line-height-175: 1.75;

$fluid-32: functions.fluidSize($static-32);
$fluid-48: functions.fluidSize($static-48);
$fluid-64: functions.fluidSize($static-64);
$fluid-80: functions.fluidSize($static-80);
$fluid-96: functions.fluidSize($static-96);
$fluid-128: functions.fluidSize($static-128);

$core-color-black-default: #000000;
$core-color-black-alpha-70: rgba(0, 0, 0, 0.7);
$core-color-black-alpha-0: rgba(0, 0, 0, 0);
$core-color-white-default: #ffffff;
$core-color-white-alpha-70: rgba(255, 255, 255, 0.7);

$core-color-red-default: #ff4545;
$core-color-red-tint-80: functions.light($core-color-red-default, 80%);
$core-color-red-shade-10: functions.dark($core-color-red-default, 10%);
$core-color-red-shade-30: functions.dark($core-color-red-default, 30%);

$core-color-green-default: #40d9b7;
$core-color-green-tint-80: functions.light($core-color-green-default, 80%);
$core-color-green-shade-30: functions.dark($core-color-green-default, 30%);
$core-color-green-shade-50: functions.dark($core-color-green-default, 50%);

$core-color-yellow-default: #f5e601;
$core-color-yellow-tint-80: functions.light($core-color-yellow-default, 80%);
$core-color-yellow-shade-40: functions.dark($core-color-yellow-default, 40%);
$core-color-yellow-shade-50: functions.dark($core-color-yellow-default, 50%);

$core-color-blue-default: #8caaf0;
$core-color-blue-tint-80: functions.light($core-color-blue-default, 80%);
$core-color-blue-shade-20: functions.dark($core-color-blue-default, 20%);
$core-color-blue-shade-40: functions.dark($core-color-blue-default, 40%);


$core-color-brand-tint-90: functions.light($core-color-brand-default, 90%);
$core-color-brand-shade-20: functions.dark($core-color-brand-default, 20%);
$core-color-brand-shade-40: functions.dark($core-color-brand-default, 40%);
$core-color-brand-shade-60: functions.dark($core-color-brand-default, 60%);
$core-color-accent-1-alpha-40: rgba(36, 120, 197, 0.4);

$core-color-neutral-tint-90: functions.light($core-color-neutral-default, 90%);
$core-color-neutral-tint-50: functions.light($core-color-neutral-default, 50%);
$core-color-neutral-shade-30: functions.dark($core-color-neutral-default, 30%);
$core-color-neutral-shade-40: functions.dark($core-color-neutral-default, 40%);
$core-color-neutral-shade-80: functions.dark($core-color-neutral-default, 80%);

$semantic-color-fg-static-base: $core-color-neutral-shade-80;
$semantic-color-fg-static-base-inverse: $core-color-white-default;
$semantic-color-fg-static-subdued: $core-color-neutral-shade-30;
$semantic-color-fg-static-subtle: $core-color-neutral-default;
$semantic-color-fg-static-accent: $core-color-accent-1-default;
$semantic-color-fg-static-info: $core-color-blue-shade-20;
$semantic-color-fg-static-info-contrast: $core-color-blue-shade-40;
$semantic-color-fg-static-success: $core-color-green-shade-30;
$semantic-color-fg-static-success-contrast: $core-color-green-shade-50;
$semantic-color-fg-static-warning: $core-color-yellow-shade-40;
$semantic-color-fg-static-warning-contrast: $core-color-yellow-shade-50;
$semantic-color-fg-static-danger: $core-color-red-shade-10;
$semantic-color-fg-static-danger-contrast: $core-color-red-shade-30;
$semantic-color-bg-static-base: $core-color-white-default;
$semantic-color-bg-static-base-faded: $core-color-white-alpha-70;
$semantic-color-bg-static-base-inverse: $core-color-neutral-shade-40;
$semantic-color-bg-static-base-inverse-faded: $core-color-black-alpha-70;
$semantic-color-bg-static-subtle: $core-color-neutral-tint-90;
$semantic-color-bg-static-accent: $core-color-accent-1-default;
$semantic-color-bg-static-info: $core-color-blue-tint-80;
$semantic-color-bg-static-success: $core-color-green-tint-80;
$semantic-color-bg-static-warning: $core-color-yellow-tint-80;
$semantic-color-bg-static-danger: $core-color-red-tint-80;

$semantic-color-stroke-static-base: $core-color-neutral-default;
$semantic-color-stroke-static-base-inverse: $core-color-white-default;
$semantic-color-stroke-static-subdued: $core-color-neutral-tint-50;
$semantic-color-stroke-static-accent: $core-color-accent-1-default;
$semantic-color-stroke-static-accent-faded: $core-color-accent-1-alpha-40;
$semantic-color-stroke-static-info: $core-color-blue-shade-20;
$semantic-color-stroke-static-success: $core-color-green-shade-30;
$semantic-color-stroke-static-warning: $core-color-yellow-shade-40;
$semantic-color-stroke-static-danger: $core-color-red-shade-10;

$semantic-color-fg-action-base-default: $core-color-brand-default;
$semantic-color-fg-action-base-hovered: $core-color-brand-shade-40;
$semantic-color-fg-action-base-active: $core-color-brand-shade-20;
$semantic-color-fg-action-base-selected: $core-color-brand-shade-60;
$semantic-color-fg-action-base-visited: $core-color-accent-2-default;
$semantic-color-fg-action-base-inverse-default: $core-color-white-default;
$semantic-color-fg-action-base-inverse-hovered: $core-color-brand-tint-90;
$semantic-color-fg-action-base-inverse-active: $core-color-white-default;
$semantic-color-fg-action-base-inverse-selected: $core-color-brand-tint-90;
$semantic-color-bg-action-base-default: $core-color-white-default;
$semantic-color-bg-action-base-hovered: $core-color-brand-tint-90;
$semantic-color-bg-action-base-active: $core-color-white-default;
$semantic-color-bg-action-base-selected: $core-color-brand-tint-90;

$semantic-color-bg-action-base-inverse-default: $core-color-brand-default;
$semantic-color-bg-action-base-inverse-hovered: $core-color-brand-shade-40;
$semantic-color-bg-action-base-inverse-active: $core-color-brand-shade-20;
$semantic-color-bg-action-base-inverse-selected: $core-color-brand-shade-60;

$semantic-color-bg-action-muted-default: $core-color-black-alpha-0;
$semantic-color-bg-action-muted-hovered: $core-color-brand-tint-90;
$semantic-color-bg-action-muted-active: $core-color-black-alpha-0;
$semantic-color-bg-action-muted-selected: $core-color-brand-default;
$semantic-color-bg-action-muted-inverse-default: $core-color-black-alpha-0;
$semantic-color-bg-action-muted-inverse-hovered: $core-color-white-default;
$semantic-color-bg-action-muted-inverse-active: $core-color-black-alpha-0;
$semantic-color-bg-action-muted-inverse-selected: $core-color-white-default;

$semantic-color-stroke-action-base-default: $core-color-brand-default;
$semantic-color-stroke-action-base-hovered: $core-color-brand-shade-40;
$semantic-color-stroke-action-base-active: $core-color-brand-shade-20;
$semantic-color-stroke-action-base-selected: $core-color-brand-shade-60;
$semantic-color-stroke-action-muted-default: $core-color-black-alpha-0;
$semantic-color-stroke-action-muted-hovered: $core-color-brand-tint-90;
$semantic-color-stroke-action-muted-active: $core-color-black-alpha-0;
$semantic-color-stroke-action-muted-selected: $core-color-brand-tint-90;

$color-fg-static-base: #191c1d;


:host {
	// ==================== FONT ====================
	// font family
	--semantic-font-family-default: #{meta.inspect($font-family)};
	--semantic-font-family-bold: #{meta.inspect($font-family-bold)};

	// font weights
	--semantic-font-weight-light: #{$weight-300};
	--semantic-font-weight-regular: #{$weight-400};
	--semantic-font-weight-bold: #{$weight-700};

	// font line heights
	--semantic-font-line-height-dense: #{$line-height-125};
	--semantic-font-line-height-default: #{$line-height-150};
	--semantic-font-line-height-relaxed: #{$line-height-175};

	// font coreTokenSizes
	--semantic-font-size-xs: #{$static-14};
	--semantic-font-size-base: #{$static-16};
	--semantic-font-size-sm: #{$static-18};
	--semantic-font-size-md: #{$static-20};
	--semantic-font-size-lg: #{$static-24};
	--semantic-font-size-xl: #{$static-28};
	--semantic-font-size-2xl: #{$fluid-32};
	--semantic-font-size-3xl: #{$fluid-48};
	--semantic-font-size-4xl: #{$fluid-64};

	// font scale
	--semantic-font-scale-root: #{$scale-100};

	// ==================== SIZES AND SPACING ====================
	// space
	--semantic-space-none: #{$static-0};
	--semantic-space-3xs: #{$static-2};
	--semantic-space-2xs: #{$static-4};
	--semantic-space-xs: #{$static-8};
	--semantic-space-sm: #{$static-12};
	--semantic-space-md: #{$static-16};
	--semantic-space-lg: #{$static-20};
	--semantic-space-xl: #{$static-24};
	--semantic-space-2xl: #{$static-32};
	--semantic-space-3xl: #{$static-48};
	--semantic-space-4xl: #{$static-64};

	// space fluid
	--semantic-space-fluid-2xl: #{$fluid-32};
	--semantic-space-fluid-3xl: #{$fluid-48};
	--semantic-space-fluid-4xl: #{$fluid-64};
	--semantic-space-fluid-5xl: #{$fluid-80};
	--semantic-space-fluid-6xl: #{$fluid-96};
	--semantic-space-fluid-7xl: #{$fluid-128};

	// // stack
	// --semantic-stack-2xs: #{$static-4};
	// --semantic-stack-xs: #{$static-8};
	// --semantic-stack-md: #{$static-16};
	// --semantic-stack-lg: #{$static-20};
	// --semantic-stack-xl: #{$static-24};
	// --semantic-stack-2xl: #{$static-32};
	// --semantic-stack-3xl: #{$static-48};
	// --semantic-stack-4xl: #{$static-64};

	// size
	--semantic-size-2xs: #{$static-4};
	--semantic-size-xs: #{$static-8};
	--semantic-size-sm: #{$static-12};
	--semantic-size-md: #{$static-16};
	--semantic-size-lg: #{$static-20};
	--semantic-size-xl: #{$static-24};
	--semantic-size-2xl: #{$static-32};
	--semantic-size-3xl: #{$static-48};
	--semantic-size-4xl: #{$static-64};
	--semantic-size-5xl: #{$static-80};
	--semantic-size-6xl: #{$static-96};

	// border-radius
	--semantic-borderradius-3xs: #{$static-2};
	--semantic-borderradius-2xs: #{$static-4};
	--semantic-borderradius-xs: #{$static-8};
	--semantic-borderradius-sm: #{$static-12};
	--semantic-borderradius-md: #{$static-16};

	// ==================== COLORS ====================
	// ---------- core colors ----------
	// black
	--core-color-black-default: #{$core-color-black-default};
	--core-color-black-alpha-70: #{$core-color-black-alpha-70};
	--core-color-black-alpha-0: #{$core-color-black-alpha-0};

	// white
	--core-color-white-default: #{$core-color-white-default};
	--core-color-white-alpha-70: #{$core-color-white-alpha-70};

	// red
	--core-color-red-tint-80: #{$core-color-red-tint-80};
	--core-color-red-default: #{$core-color-red-default};
	--core-color-red-shade-10: #{$core-color-red-shade-10};
	--core-color-red-shade-30: #{$core-color-red-shade-30};

	// green
	--core-color-green-tint-80: #{$core-color-green-tint-80};
	--core-color-green-default: #{$core-color-green-default};
	--core-color-green-shade-30: #{$core-color-green-shade-30};
	--core-color-green-shade-50: #{$core-color-green-shade-50};

	// yellow
	--core-color-yellow-tint-80: #{$core-color-yellow-tint-80};
	--core-color-yellow-default: #{$core-color-yellow-default};
	--core-color-yellow-shade-40: #{$core-color-yellow-shade-40};
	--core-color-yellow-shade-50: #{$core-color-yellow-shade-50};

	// blue
	--core-color-blue-tint-80: #{$core-color-blue-tint-80};
	--core-color-blue-default: #{$core-color-blue-default};
	--core-color-blue-shade-20: #{$core-color-blue-shade-20};
	--core-color-blue-shade-40: #{$core-color-blue-shade-40};

	// ---------- brand colors ----------
	// brand
	--core-color-brand-tint-90: #{$core-color-brand-tint-90};
	--core-color-brand-default: #{$core-color-brand-default};
	--core-color-brand-shade-20: #{$core-color-brand-shade-20};
	--core-color-brand-shade-40: #{$core-color-brand-shade-40};

	// accent 1
	--core-color-accent-1-default: #{$core-color-accent-1-default};
	--core-color-accent-1-alpha-40: #{$core-color-accent-1-alpha-40};

	// accent 2
	--core-color-accent-2-default: #{$core-color-accent-2-default};

	// neutral
	--core-color-neutral-tint-90: #{$core-color-neutral-tint-90};
	--core-color-neutral-tint-50: #{$core-color-neutral-tint-50};
	--core-color-neutral-default: #{$core-color-neutral-default};
	--core-color-neutral-shade-30: #{$core-color-neutral-shade-30};
	--core-color-neutral-shade-40: #{$core-color-neutral-shade-40};
	--core-color-neutral-shade-80: #{$core-color-neutral-shade-80};


	// ---------- semantic colors static ----------
	// static foreground color
	--semantic-color-fg-static-base: #{$semantic-color-fg-static-base};
	--semantic-color-fg-static-base-inverse: #{$semantic-color-fg-static-base-inverse};
	--semantic-color-fg-static-subdued: #{$semantic-color-fg-static-subdued};
	--semantic-color-fg-static-subtle: #{$semantic-color-fg-static-subtle};
	--semantic-color-fg-static-accent: #{$semantic-color-fg-static-accent};
	--semantic-color-fg-static-info: #{$semantic-color-fg-static-info};
	--semantic-color-fg-static-info-contrast:#{$semantic-color-fg-static-info-contrast};
	--semantic-color-fg-static-success:#{$semantic-color-fg-static-success};
	--semantic-color-fg-static-success-contrast: #{$semantic-color-fg-static-success-contrast};
	--semantic-color-fg-static-warning: #{$semantic-color-fg-static-warning};
	--semantic-color-fg-static-warning-contrast:#{$semantic-color-fg-static-warning-contrast};
	--semantic-color-fg-static-danger: #{$semantic-color-fg-static-danger};
	--semantic-color-fg-static-danger-contrast: #{$semantic-color-fg-static-danger-contrast};

	// static background color
	--semantic-color-bg-static-base: #{$semantic-color-bg-static-base};
	--semantic-color-bg-static-base-faded: #{$semantic-color-bg-static-base-faded};
	--semantic-color-bg-static-base-inverse: #{$semantic-color-bg-static-base-inverse};
	--semantic-color-bg-static-base-inverse-faded: #{$semantic-color-bg-static-base-inverse-faded};
	--semantic-color-bg-static-subtle: #{$semantic-color-bg-static-subtle};
	--semantic-color-bg-static-accent: #{$semantic-color-bg-static-accent};
	--semantic-color-bg-static-info: #{$semantic-color-bg-static-info};
	--semantic-color-bg-static-success: #{$semantic-color-bg-static-success};
	--semantic-color-bg-static-warning: #{$semantic-color-bg-static-warning};
	--semantic-color-bg-static-danger: #{$semantic-color-bg-static-danger};

	// static stroke color
	--semantic-color-stroke-static-base: #{$semantic-color-stroke-static-base};
	--semantic-color-stroke-static-base-inverse: #{$semantic-color-stroke-static-base-inverse};
	--semantic-color-stroke-static-subdued: #{$semantic-color-stroke-static-subdued};
	--semantic-color-stroke-static-accent: #{$semantic-color-stroke-static-accent};
	--semantic-color-stroke-static-accent-faded: #{$semantic-color-stroke-static-accent-faded};
	--semantic-color-stroke-static-info: #{$semantic-color-stroke-static-info};
	--semantic-color-stroke-static-success: #{$semantic-color-stroke-static-success};
	--semantic-color-stroke-static-warning: #{$semantic-color-stroke-static-warning};
	--semantic-color-stroke-static-danger: #{$semantic-color-stroke-static-danger};

	// ---------- semantic colors interactiv ----------
	// ----- interactiv foreground color
	// standard
	--semantic-color-fg-action-base-default: #{$semantic-color-fg-action-base-default};
	--semantic-color-fg-action-base-hovered: #{$semantic-color-fg-action-base-hovered};
	--semantic-color-fg-action-base-active: #{$semantic-color-fg-action-base-active};
	--semantic-color-fg-action-base-selected: #{$semantic-color-fg-action-base-selected};
	--semantic-color-fg-action-base-visited: #{$semantic-color-fg-action-base-visited};

	// inverse
	--semantic-color-fg-action-base-inverse-default: #{$semantic-color-fg-action-base-inverse-default};
	--semantic-color-fg-action-base-inverse-hovered: #{$semantic-color-fg-action-base-inverse-hovered};
	--semantic-color-fg-action-base-inverse-active: #{$semantic-color-fg-action-base-inverse-active};
	--semantic-color-fg-action-base-inverse-selected: #{$semantic-color-fg-action-base-inverse-selected};

	// ----- interactiv background color
	// standard
	--semantic-color-bg-action-base-default: #{$semantic-color-bg-action-base-default};
	--semantic-color-bg-action-base-hovered: #{$semantic-color-bg-action-base-hovered};
	--semantic-color-bg-action-base-active: #{$semantic-color-bg-action-base-active};
	--semantic-color-bg-action-base-selected: #{$semantic-color-bg-action-base-selected};

	// standard inverse
	--semantic-color-bg-action-base-inverse-default: #{$semantic-color-bg-action-base-inverse-default};
	--semantic-color-bg-action-base-inverse-hovered: #{$semantic-color-bg-action-base-inverse-hovered};
	--semantic-color-bg-action-base-inverse-active: #{$semantic-color-bg-action-base-inverse-active};
	--semantic-color-bg-action-base-inverse-selected: #{$semantic-color-bg-action-base-inverse-selected};

	// muted
	--semantic-color-bg-action-muted-default: #{$semantic-color-bg-action-muted-default};
	--semantic-color-bg-action-muted-hovered: #{$semantic-color-bg-action-muted-hovered};
	--semantic-color-bg-action-muted-active: #{$semantic-color-bg-action-muted-active};
	--semantic-color-bg-action-muted-selected: #{$semantic-color-bg-action-muted-selected};

	// muted inverse
	--semantic-color-bg-action-muted-inverse-default: #{$semantic-color-bg-action-muted-inverse-default};
	--semantic-color-bg-action-muted-inverse-hovered: #{$semantic-color-bg-action-muted-inverse-hovered};
	--semantic-color-bg-action-muted-inverse-active: #{$semantic-color-bg-action-muted-inverse-active};
	--semantic-color-bg-action-muted-inverse-selected: #{$semantic-color-bg-action-muted-inverse-selected};

	// ----- interactiv stroke color
	// standard
	--semantic-color-stroke-action-base-default: #{$semantic-color-stroke-action-base-default};
	--semantic-color-stroke-action-base-hovered: #{$semantic-color-stroke-action-base-hovered};
	--semantic-color-stroke-action-base-active: #{$semantic-color-stroke-action-base-active};
	--semantic-color-stroke-action-base-selected: #{$semantic-color-stroke-action-base-selected};

	// muted
	--semantic-color-stroke-action-muted-default: #{$semantic-color-stroke-action-muted-default};
	--semantic-color-stroke-action-muted-hovered: #{$semantic-color-stroke-action-muted-hovered};
	--semantic-color-stroke-action-muted-active: #{$semantic-color-stroke-action-muted-active};
	--semantic-color-stroke-action-muted-selected: #{$semantic-color-stroke-action-muted-selected};
}
