@use "mixins";

:host {
	.accordion {
		border-bottom: 1px solid var(--semantic-color-stroke-static-subdued);

		kol-heading-wc {
			background: var(--semantic-color-bg-static-base);

			button {
				&:hover {
					kol-span-wc {
						background-color: var(--semantic-color-bg-action-base-hovered);
						transition-delay: 0s;
						transition-timing-function: ease-in-out;
						transition-duration: 0.5s;
						transition-property: background-color, color, outline-color;
						// border-radius: var(--semantic-space-xs);
					}
				}

				&:focus {
					&:focus-visible {
						outline: 0;
						position: relative;
						z-index: 100;
						
						> kol-span-wc {
							box-shadow: 0 0 0 2px var(--semantic-color-stroke-static-base-inverse), 0 0 0 4px var(--semantic-color-stroke-static-accent), 0 0 0 6px var(--semantic-color-stroke-static-accent-faded);
							transition: outline-offset 0.2s linear;
						}
					}

				}

				kol-span-wc {
					display: block;
					color: var(--semantic-color-fg-action-base-default);
					// border-radius: var(--semantic-space-xs);

					> span {
						flex-direction: row-reverse;
						justify-content: space-between;
						padding: var(--semantic-space-sm) var(--semantic-space-md);
						align-items: flex-start;
						gap: var(--semantic-space-xs);
						align-self: stretch;

						font-size: var(--semantic-font-size-base);
						font-weight: var(--semantic-font-weight-bold);
						line-height: var(--semantic-font-line-height-default);

						kol-icon {
							width: var(--semantic-size-xl);
							height: var(--semantic-size-xl);
							font-size: var(--semantic-size-xl, 24px);

							&::part(icon) {
								font-family: "Material Symbols Rounded", serif !important;
								font-size: var(--semantic-size-xl);
								font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 200, 'opsz' 24;
								line-height: var(--semantic-font-line-height-dense);

								&::before {
									content: "keyboard_arrow_down";
								}
							}
						}

						.span-label {
							text-align: left;
						}
					}
				}
			}

		}

		.wrapper {
			.content {
				padding: var(--semantic-space-sm) var(--semantic-space-md) var(--semantic-space-xl);
			}
		}

		&.open {
			kol-heading-wc {
				button {
					kol-span-wc {
						> span {
							kol-icon {
								&::part(icon) {
									&::before {
										content: "keyboard_arrow_up";
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
