@use "mixins";

:host {

	> kol-alert-wc {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		border-radius: var(--semantic-space-2xs);

		kol-icon {
			width: var(--semantic-size-2xl);
			height: var(--semantic-size-2xl);
		}

		kol-icon::part(icon) {
			font-family: "Material Symbols Rounded", serif;
			font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 200, 'opsz' 24;
			font-size: var(--semantic-font-size-2xl) !important; // TODO: kann weg!
			width: var(--semantic-space-2xl);
			height: var(--semantic-space-2xl);
			font-style: normal;
			line-height: 1;
			letter-spacing: normal;
			text-transform: none;
			display: inline-block;
			white-space: nowrap;
			overflow-wrap: normal;
			direction: ltr;
			-webkit-font-smoothing: antialiased;
			text-rendering: optimizelegibility;
			font-feature-settings: "liga";
		}

		&.msg {
			border: none;

			& .content {
				// display: none;
			}

			&.success {
				@include mixins.alert-variant(success, --semantic-color-bg-static-success, msg, check);

				.heading {
					@include mixins.alert-heading(--semantic-color-fg-static-base);
				}
			}

			&.warning {
				@include mixins.alert-variant(warning, --semantic-color-bg-static-warning, msg, exclamation);

				.heading {
					@include mixins.alert-heading(--semantic-color-fg-static-base);
				}
			}

			&.info {
				@include mixins.alert-variant(info, --semantic-color-bg-static-info, msg, info);

				.heading {
					@include mixins.alert-heading(--semantic-color-fg-static-base);
				}
			}

			&.error {
				@include mixins.alert-variant(danger, --semantic-color-bg-static-danger, msg, close);

				.heading {
					@include mixins.alert-heading(--semantic-color-fg-static-base);
				}

			}
		}

		&.card {
			&.success {
				@include mixins.alert-variant(success, --semantic-color-bg-static-success, card, check);
			}

			&.warning {
				@include mixins.alert-variant(warning, --semantic-color-bg-static-warning, card, exclamation);
			}

			&.info {
				@include mixins.alert-variant(info, --semantic-color-bg-static-info, card, info);
			}

			&.error {
				@include mixins.alert-variant(danger, --semantic-color-bg-static-danger, card, close);
			}

			.heading {
				@include mixins.alert-heading(--semantic-color-fg-static-base);
			}

			.content {
				display: flex;
				padding: var(--semantic-space-md);
				flex-direction: column;
				align-items: flex-start;
				gap: var(--semantic-space-md);
				align-self: stretch;
			}
		}

		kol-heading-wc {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				font-weight: var(--semantic-font-weight-bold);
				font-family: var(--semantic-font-family-default);
				color: var(--semantic-color-fg-static-base);
			}
			h1 {
				font-size: var(--semantic-font-size-3xl);
				line-height: var(--semantic-font-line-height-dense);
			}
			h2 {
				font-size: var(--semantic-font-size-2xl);
				line-height: var(--semantic-font-line-height-dense);
			}
			h3 {
				font-size: var(--semantic-font-size-xl);
				line-height: var(--semantic-font-line-height-dense);
			}
			h4 {
				font-size: var(--semantic-font-size-lg);
				line-height: var(--semantic-font-line-height-dense);
			}
			h5 {
				font-size: var(--semantic-font-size-md);
				line-height: var(--semantic-font-line-height-default);
			}
			h6 {
				font-size: var(--semantic-font-size-base);
				line-height: var(--semantic-font-line-height-dense);
			}
		}
	}
}

:host > div > kol-heading-wc button kol-icon::part(icon) {
	font-family: "Material Symbols Rounded";
}

:host > div.open > kol-heading-wc button kol-icon::part(icon)::before {
	content: "remove";
}

:host > div.close > kol-heading-wc button kol-icon::part(icon)::before {
	content: "add";
}
