@use "mixins";

:host {
	display: inline-block;
	background: none;

	> span {
		border-radius: var(--semantic-borderradius-2xs, 4px);

		kol-span-wc {
			display: flex;
			padding: var(--semantic-space-2xs) var(--semantic-space-xs);
			align-items: center;
			gap: var(--semantic-space-xs);

			> span {
				kol-icon {
					font-size: var(--semantic-font-size-md);
					display: inherit;
				}
				.span-label {
					font-size: var(--semantic-font-size-xs);
					line-height: var(--semantic-font-line-height-default);
					font-weight: var(--semantic-font-weight-bold);
					font-style: normal;
				}
			}
		}
	}

}