/* ALL INPUT, SELECT, TEXTAREA */
:host {
	input {
		border: 1px solid var(--semantic-color-stroke-static-base);
		border-radius: var(--semantic-borderradius-3xs);
	}

	input[type="checkbox"] {
		appearance: none;
		background-color: var(--core-color-white-default);
		cursor: pointer;
		transition: none;

		&:checked,
		&:indeterminate {
			background-color: var(--semantic-color-bg-action-base-inverse-default);
			border-color: var(--semantic-color-stroke-static-base);
		}

		&:focus-visible {
			border: 1px solid transparent;
			outline: none;
		}

		&:focus {
			border-color: var(--semantic-color-stroke-static-base);
		}

	}

	kol-input {
		row-gap: var(--semantic-space-xs, 8px);
		column-gap: var(--semantic-space-md, 16px);
		align-items: start;
		
		&:not(.required) {
			label {
				> span {
					&::after {
						content: " - Optional";
						font-size: var(--semantic-font-size-xs);
						color: var(--semantic-color-fg-static-subdued);
						font-weight: var(--semantic-font-weight-regular);
					}
				}
			}
		}

		.hint {
			order: 1;
			display: inline-block;
			width: 100%;

			color: var(--semantic-color-fg-static-base, #191C1D);
			font-size: var(--semantic-font-size-xs);
			font-style: normal;
			font-weight: var(--semantic-font-weight-regular);
			line-height: var(--semantic-font-line-height-default);

		}

		> div.input {
			order: 2;
		}

		> label {
			order: 3;
			color: var(--semantic-color-fg-static-base);
			font-size: var(--semantic-font-size-base);
			font-weight: var(--semantic-font-weight-regular);
			line-height: var(--semantic-font-line-height-default);
		}

		.input {
			min-height: inherit;
			min-width: inherit;

			.checkbox-container {
				width: var(--semantic-size-xl);
				height: var(--semantic-size-xl);

				.icon {
					display: none;
				}
			}
		}

		&.error {
			border-left: 4px solid var(--semantic-color-stroke-static-danger, #FF4545);
			padding-left: var(--semantic-space-md, 16px);
		}

		> kol-alert-wc.error {
			order: 4;
			width: max-content;
		}

		&.checkbox {
			grid-template-columns: calc(6 * var(--semantic-space-2xs)) auto;

			input[type="checkbox"] {
				height: calc(6 * var(--semantic-space-2xs));
				min-width: calc(6 * var(--semantic-space-2xs));
				width: calc(6 * var(--semantic-space-2xs));

				&:before {
					background-color: transparent;
					display: block;
					height: calc(6 * var(--semantic-space-2xs));
					position: relative;
					width: calc(6 * var(--semantic-space-2xs));
				}

				&:checked:before {
					border-right-width: 3px;
					border-bottom-width: 3px;
					left: calc(1.5 * var(--semantic-space-2xs) - 1px);
					top: calc(2.85 * var(--semantic-space-2xs) - 1px);
					transform: rotate(40deg) translate(-50%, -50%);
					background-color: transparent;
					border-width: 0px 3px 3px 0px;
					border-color: white;
					border-style: solid;
					height: calc(3 * var(--semantic-space-2xs));
					width: calc(1.5 * var(--semantic-space-2xs));
				}

				&:indeterminate {
					background-color: var(--core-color-brand-default);

					&:before {
						background-color: white;
						height: 0.25rem;
						top: 0.5rem;
						left: 0.25rem;
						width: 0.75rem;
					}
				}
			}
		}

		&.switch {
			grid-template-columns: calc(6 * var(--semantic-space-2xs)) auto;

			input[type="checkbox"] {
				min-width: 3em;
				width: 3em;
				height: 1.5em;
				border-radius: 0.75em;
				display: inline-block;
				position: relative;

				&:before {
					-webkit-transition: 0.5s;
					-moz-transition: 0.5s;
					-ms-transition: 0.5s;
					transition: all 0.5s ease 0s;
					width: 1.125em;
					height: 1.125em;
					left: calc(0.25em - 2px);
					top: calc(0.25em - 2px);
					border-radius: 50%;
					background-color: black;
					position: absolute;
				}

				&:checked:before {
					-webkit-transform: translateX(1.5em);
					-moz-transform: translateX(1.5em);
					-ms-transform: translateX(1.5em);
					transform: translateX(1.5em);
					background-color: white;
					left: calc(0.5*var(--semantic-space-2xs) - 1px);
					top: calc(var(--semantic-space-2xs) - 2px);
					width: 1.125em;
					height: 1.125em;
					border: none;
				}

				&:indeterminate {
					background-color: var(--color-blau);

					&:before {
						-webkit-transform: translateX(0.75em);
						-moz-transform: translateX(0.75em);
						-ms-transform: translateX(0.75em);
						transform: translateX(0.75em);
						background-color: white;
					}

				}

			}

			> label {
				order: 3;
				padding-left: calc(8 * var(--semantic-space-2xs));
			}
		}

		&.button {
			label {
				padding-left: 0;
				color: var(--core-color-brand-default);

				&:hover {
					color: var(--core-color-primary-hover); // TODO: Farbe fehlt, überprüfen
				}
			}

			kol-icon::part(icon) {
				font-family: "Material Symbols Rounded";
				font-weight: 900;

				&::before {
					content: "add";
				}
			}
		}
	}

}
