// @import 'functions';
// @import "variables";

// $icon-date-color: var(--core-color-brand-default);
// $icon-date-error-color: var(--core-color-red-default);


:host {
	kol-input {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--semantic-space-xs, 8px);

		&:not(.required) {
			label {
				> span {
					&::after {
						content: " - Optional";
						font-size: var(--semantic-font-size-xs);
						color: var(--semantic-color-fg-static-subdued);
						font-weight: var(--semantic-font-weight-regular);
					}
				}
			}
		}

		label {
			order: 2;
			color: var(--semantic-color-fg-static-base);
			font-size: var(--semantic-font-size-base);
			font-style: normal;
			font-weight: var(--semantic-font-weight-bold);
			line-height: var(--semantic-font-line-height-relaxed);
		}

		.input {
			order: 4;
			display: flex;
			gap: var(--semantic-space-xs, 8px);
			align-items: flex-start;
			align-self: stretch;
			padding: var(--semantic-space-sm, 12px);
			border-radius: var(--semantic-borderradius-3xs, 2px);
			outline: 1px solid var(--semantic-color-stroke-static-base, #808E95);
			background: var(--semantic-color-bg-action-base-default, #FFF);

			// background-image: svg-icon-calendar($icon-date-color);


			input {
				border: none;
				padding: 0;
				overflow: hidden;
				color: var(--semantic-color-fg-static-base, #191C1D);
				text-overflow: ellipsis;
				font-size: var(--semantic-font-size-base);
				font-style: normal;
				font-weight: var(--semantic-font-weight-regular);
				line-height: var(--semantic-font-line-height-default);
				height: inherit; // override KoliBri
				height: 24px;

				&::placeholder {
					color: var(--semantic-color-fg-static-subdued);
				}



				&[type="date"],
				&[type="datetime-local"],
				&[type="month"],
				&[type="week"] {
					&::-webkit-calendar-picker-indicator {
						// background: svg-icon-calendar($icon-date-color);
						width: var(--semantic-size-lg);
						height: var(--semantic-size-lg);
					}
				}

				&[type="time"] {
					&::-webkit-calendar-picker-indicator {
						// background: svg-icon-schedule($icon-date-color);
						width: var(--semantic-size-lg);
						height: var(--semantic-size-lg);
					}
				}

				// // Firefox
				// // TODO: Das ausschalten von Firefox default icon ist nicht möglich, sodass beide Icons dargestellt werden!
				// // 		 Unsere Icons werden ausgeschaltet, sodass nur Firefox default bleibt.
				// @-moz-document url-prefix() {

				// 	&[type="date"],
				// 	&[type="datetime-local"],
				// 	&[type="month"],
				// 	&[type="week"] {
				// 		background: svg-icon-calendar($icon-date-color);
				// 		background-position: center right;
				// 	}

				// 	&[type="time"] {
				// 		background: svg-icon-schedule($icon-date-color);
				// 		background-position: center right;
				// 	}
				// }
			}

			&:hover,
			&:focus {
				background-color: var(--semantic-color-bg-action-base-hovered);
				// outline: 1px solid var(--semantic-color-stroke-static-base, #808E95);
				input {
					background-color: var(--semantic-color-bg-action-base-hovered);
				}
			}

			kol-icon {
				width: var(--semantic-size-xl, 24px);
				height: var(--semantic-size-xl, 24px);
				color: var(--semantic-color-fg-action-base-default);
			}

		}

		.hint {
			order: 3;
			align-self: stretch;
			color: var(--semantic-color-fg-static-base, #191C1D);
			font-size: var(--semantic-font-size-xs);
			font-style: normal;
			font-weight: var(--semantic-font-weight-regular);
			line-height: var(--semantic-font-line-height-default); /* 21px */
		}

		&.error {
			border-left: 4px solid var(--semantic-color-stroke-static-danger, #FF4545);
			display: flex;
			padding-left: var(--semantic-space-md, 16px);
			flex-direction: column;
			align-items: flex-start;
			gap: var(--semantic-space-xs, 8px);

			.input {
				outline: 1px solid var(--semantic-color-stroke-static-danger, #FF4545);

				input {
					&[type="date"],
					&[type="datetime-local"],
					&[type="month"],
					&[type="week"] {
						&::-webkit-calendar-picker-indicator {
							// background: svg-icon-calendar($icon-date-error-color);
							width: 20px;
							height: 20px;
						}
					}

					&[type="time"] {
						&::-webkit-calendar-picker-indicator {
							// background: svg-icon-schedule($icon-date-error-color);
							width: 20px;
							height: 20px;
						}
					}
				}

			}

			kol-alert {
				&.error {
					order: 5;
				}
			}
		}

		&.read-only {
			cursor: not-allowed;
			.input {
				cursor: not-allowed;
				outline: 1px solid var(--semantic-color-bg-static-subtle, #F2F3F4);
				background: var(--semantic-color-bg-static-subtle, #F2F3F4);
				input {
					background: var(--semantic-color-bg-static-subtle, #F2F3F4);
					cursor: not-allowed;
				}
			}
		}

		&.disabled {
			cursor: not-allowed;
			opacity: 0.4;

			:is(button, input, label, option, select, textarea) {
				cursor: not-allowed;
				opacity: initial;
			}
			.input {
				&:hover {
					background-color: var(--semantic-color-bg-action-base-default, #FFF);
					input {
						background-color: var(--semantic-color-bg-action-base-default, #FFF);
					}
				}
				input {
					background-color: var(--semantic-color-bg-action-base-default, #FFF);
				}
			}
		}

	}
}

// *[tabindex]:focus,
// kol-input:not(.checkbox, .radio) .input:focus-within,
// kol-input:is(.checkbox, .radio) input:focus,
// summary:focus {
//   cursor: pointer;
//   outline-color: var(--core-color-primary);
//   outline-offset: 2px;
//   outline-style: solid;
//   outline-width: 3px;
//   transition: outline-offset 0.2s linear;
// }
