:host {
	width: 100%;
	display: flex;
	gap: 1rem;
	flex-direction: column;

	// override KoliBri
	svg {
		display: none;
	}

	/* IE and EDGE */
	progress {
		/* RESETS */
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none;

		width: 100%;
		height: var(--semantic-size-xs);
		border-radius: var(--semantic-size-2xs);
		background-color: var(--semantic-color-bg-static-subtle);
		color: var(--semantic-color-fg-static-accent);	

		/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
		&::-webkit-progress-bar {
			background-color: var(--semantic-color-bg-static-subtle);
			border-radius: var(--semantic-size-2xs);
		}

		&::-webkit-progress-value {
			background-color: var(--semantic-color-fg-static-accent);
			border-radius: var(--semantic-size-2xs);
		}

		/* MOZILLA FIREFOX */
		&::-moz-progress-bar {
			background-color: var(--semantic-color-fg-static-accent);
			border-radius: var(--semantic-size-2xs);
		}
	}
	
}
// .bar {8px
// 	width: 100%;
// 	display: flex;
// 	gap: 1rem;
// 	flex-direction: column;

// 	svg {
// 		width: 100%;

// 		.background {
// 			fill: var(--semantic-color-bg-static-subtle, #F2F4F4);
// 			stroke: white;
// 			width: 100% !important;
// 		}

// 		.border {
// 			width: 100% !important;
// 			stroke: white;
// 		}

// 		.progress {
// 			fill: var(--semantic-color-fg-static-accent, #2A4A6F);
// 		}

// 		text {
// 			display: none;
// 		}
// 	}
// }

// svg {
// 	line:first-child,
// 	circle:first-child {
// 		fill: transparent;
// 		stroke: var(--kern-color-default-light);
// 	}

// 	line:last-child,
// 	circle:last-child {
// 		stroke: var(--kern-color-primary);
// 		fill: transparent;
// 	}
// }


// progress {
//   display: none;
// }
