:host {
	display: block;
	position: relative;
	width: 100%;
	--kopfzeile-font-family: "Fira Sans", "Fira Sans Regular", "Noto Sans", "Noto Sans Regular", "SF Pro Text", "Segoe UI", SegoeUI, Roboto, Arial, Helvetica, sans-serif;
	--kopfzeile-padding-left: 15px;
	--kopfzeile-padding-right: 15px;
}

.kopfzeile {
	display: flex;
	min-height: var(--semantic-size-xl);
	align-items: center;
	background: #f0f0f0; /* TODO: Farbe/Token mit Designern definieren! */
	z-index: 1;
}

.kopfzeile__content {
	display: flex;
	align-items: center;
	gap: var(--semantic-space-md);
	padding: 0;
}

.kopfzeile__label {
	color: #191e21; /* TODO: Farbe/Token mit Designern definieren! */
	font-family: var(--kopfzeile-font-family);
	font-size: var(--semantic-font-size-base);
	font-weight: 400;
	line-height: 1.5;
}

.kopfzeile__flagge {
	display: flex;
	width: var(--semantic-size-xl);
	height: var(--semantic-size-md);
	outline: 1px solid var(--core-color-white-default);
}

.kopfzeile__flagge svg {
	vertical-align: baseline;
}

.kopfzeile__panel {
	position: relative;
	display: none;
	opacity: 0;
	visibility: hidden;
}

.kopfzeile .container-fluid .kopfzeile__content {
	padding: 0 0.5rem;
}

.kopfzeile .container,
.kopfzeile .container-fluid {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--kopfzeile-padding-left);
	padding-right: var(--kopfzeile-padding-right);
	width: 100%;
}

/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 576px) {
	.kopfzeile__label {
		font-size: 12px; /* TODO: Größe/Token mit Designern definieren */
	}

	.kopfzeile__flagge {
		width: 18px; /* TODO: Größe/Token mit Designern definieren */
		height: var(--semantic-size-sm);
	}

	.kopfzeile .container,
	.kopfzeile .container-fluid {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.kopfzeile__content {
		gap: var(--semantic-space-xs);
	}
}


@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
