@layer kern-component {
	:host {
		color: inherit;
		display: contents;
		height: 1.25rem;
		line-height: inherit;
		width: 1.25rem;
	}

	:host > i {
		height: 1.25rem;
		width: 1.25rem;
	}

	/*
	 * The <code>:important</code> is important, because we should always override the font icon style.
	 */
	:host > i,
	:host > i:before {
		font-size: inherit !important;
	}
}
