:host {
	display: block;
}

:is(p) {
	margin: 0;
	padding: 0;
	font-family: var(--semantic-font-family-default);
	color: var(--semantic-color-fg-static-base);
	font-size: var(--semantic-font-size-base);
	font-weight: var(--semantic-font-weight-regular);
	line-height: var(--semantic-font-line-height-default);
}

.small {
	font-size: var(--semantic-font-size-xs);
}

.large {
	font-size: var(--semantic-font-size-md);
}

.bold {
	font-weight: var(--semantic-font-weight-bold);
}
