@use "sass:color";

@mixin alert-heading ($color) {
	display: flex;
	gap: calc(var(--kern-spacing) * 4);
	place-items: start;

	.heading-icon {
		font-size: 1.5rem;
		align-self: baseline;
		padding: 0;
	}

	> div {
		margin: 0;
	}

	.close {
		margin-left: auto;

		button {
			min-width: inherit;
			min-height: inherit;
			font-size: 1.25rem;
			&:hover {
				background-color: var($color);
			}
		}
	}
}

@mixin alert-variant ($type, $color, $variant, $icon) {
	@if $variant == msg {
		background-color: var($color + '-light');
		kol-icon::part(icon)::before {
			content: "#{$icon}";
		}
	} @else {
		border: 1px solid var($color);
		kol-icon::part(icon)::before {
			content: "#{$icon}";
		}
	}

	.heading-icon {
		@if $type == warning {
			color: var(--kern-color-text);
		} @else {
			color: var( $color);
		}
		background-color: transparent;
	}
	kol-button-wc {
		&.close {
			kol-icon::part(icon)::before {
				content: "close";
				font-size: 1.5rem !important;
			}
		}
	}
}

@mixin button-variant ($background, $color, $variant) {
	>#{$variant} {
		>kol-span-wc {
			background-color: var($background);
			border-color: var($background + '-hover');
			color: var($color);
		}
		&:focus {
			>kol-span-wc {
				background-color: var($background + '-hover');
				color: var($color);
			}
		}
		&:hover {
			>kol-span-wc {
				background-color: var($background + '-hover');
				color: var($color);
			}
		}
	}
}


// @mixin auto-contrast($n) {
//   $accessible-color: calc(((((color.red($n) * 213) + (color.green($n) * 855) + (color.blue($n) * 72)) / 1000) - 128) * -1000);
//   background: $n;
//   color:
//   rgba(
//     $accessible-color,
//     $accessible-color,
//     $accessible-color,
// 		1
//   );
// }
