:host {
	> div {
		> kol-heading-wc {
			> * {
				display: grid;
			}

			button {
				kol-span-wc {
					position: relative;
					>	span {
						display: flex;
						justify-content: space-between;
						flex-direction: row;
						background-color: var(--kern-color-accordion);
						color: var(--kern-color-primary);
						font-weight: var(--kern-font-weight-bold);
						padding: 1rem;
						width: 100%;
						line-height: 1;
						border-radius: var(--kern-border-radius);

						&:hover {
							background-color: var(--kern-color-accordion-hover);
						}

						kol-icon {
							font-size: 1.5rem;
						}
					}
				}
			}
		}

		[part*="header"] {
			padding: 0 1rem;

		}

		[part*="content"] {
			padding: 1rem;
		}

	}
}

:host > div > kol-heading-wc button kol-icon::part(icon) {
  font-family: "Material Symbols Rounded";
  font-weight: 900;
	position: absolute;
	right: 1rem;
}
:host > div.open > kol-heading-wc button kol-icon::part(icon)::before {
	content: "remove";
}
:host > div.close > kol-heading-wc button kol-icon::part(icon)::before {
	content: "add";
}
