h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--kern-font-weight-bold);
	font-family: var(--kern-font-family);
}
h1 {
  font-size: calc(var(--kern-font-size) * 2);
  line-height: 1.25;
  margin: 0 0 1rem 0;
}
h2 {
  font-size: calc(var(--kern-font-size) * 1.75);
  line-height: 1.25;
	margin: 2rem 0 1rem 0;
}
h3 {
	font-size: calc(var(--kern-font-size) * 1.5);
  line-height: 1.375;
	margin: 1.5rem 0 1rem 0;
}
h4 {
	font-size: calc(var(--kern-font-size) * 1.25);
  line-height: 1.25;
	margin: 1.5rem 0 1rem 0;
}
h5 {
	font-size: calc(var(--kern-font-size) * 1.25);
  line-height: 1;
	margin: 1.5rem 0 1rem 0;
}
h6 {
	font-size: calc(var(--kern-font-size) * 1.25);
  line-height: 1;
	margin: 1.5rem 0 1rem 0;
}
