@use 'index.css';

//// 'FILL' [0, 1], 'wght' [100, 200, ..., 700], 'GRAD' [-25, 0, 200], 'opsz' [20, 24, 40, 48]
.material-symbols-outlined,
.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 48;
}

[class*="material-symbols"] {
	&.add {
		&:after {
			content: "add";
		}
	}
	&.all_inclusive {
		&:after {
			content: "all_inclusive";
		}
	}
	&.chat {
		&:after {
			content: "chat";
		}
	}
	&.check {
		&:after {
			content: "check";
		}
	}
	&.close {
		&:after {
			content: "close";
		}
	}
	&.data_info_alert {
		&:after {
			content: "data_info_alert";
		}
	}
	&.exclamation {
		&:after {
			content: "exclamation";
		}
	}
	&.home {
		&:after {
			content: "home";
		}
	}
	&.info {
		&:after {
			content: "info";
		}
	}
	&.keyboard_arrow_down {
		&:after {
			content: "keyboard_arrow_down";
		}
	}
	&.keyboard_arrow_left {
		&:after {
			content: "keyboard_arrow_left";
		}
	}
	&.keyboard_arrow_right {
		&:after {
			content: "keyboard_arrow_right";
		}
	}
	&.keyboard_arrow_up {
		&:after {
			content: "keyboard_arrow_up";
		}
	}
	&.keyboard_double_arrow_left {
		&:after {
			content: "keyboard_double_arrow_left";
		}
	}
	&.keyboard_double_arrow_right {
		&:after {
			content: "keyboard_double_arrow_right";
		}
	}
	&.library_add_check {
		&:after {
			content: "library_add_check";
		}
	}
	&.open_in_new {
		&:after {
			content: "open_in_new";
		}
	}
	&.remove {
		&:after {
			content: "remove";
		}
	}
}


