:host {
	.input {
    padding: 0;
	}

	// Range Reset
	input[type="range"] {
		-webkit-appearance: none;
		appearance: none;
		background: transparent;
		cursor: pointer;
		margin: 0;
		padding: 0;
		width: 100%;

		&:focus {
			outline: none;
		}

			// ****** Chrome, Safari, Opera and Edge Chromium styles
		&::-webkit-slider-runnable-track {
			background-color: var(--kern-color-border);
			border-radius: var(--kern-border-radius);
			height: 0.5rem;
		}

		&::-webkit-slider-thumb {
			box-shadow: 0px 0px 0px var(--kern-color-button-primary), 0px 0px 0px var(--kern-color-button-primary);
			border: 0px solid var(--kern-color-button-primary);
			height: 1.5rem;
			width: 1.5rem;
			border-radius: 50%;
			background: var(--kern-color-primary);
			-webkit-appearance: none;
			margin-top: -0.5rem;
		}

		&:focus::-webkit-slider-thumb {
			outline-color: var(--kern-color-primary);
			outline-offset: 0.0625rem;
			outline-style: solid;
			outline-width: 0.125rem;
			border-radius: 50%;
		}

		// ****** Firefox styles
		&::-moz-range-track {
			background-color: var(--kern-color-border);
			border-radius: var(--kern-border-radius);
			height: 0.5rem;
		}

		&::-moz-range-thumb {
			box-shadow: 0px 0px 0px var(--kern-color-button-primary), 0px 0px 0px var(--kern-color-button-primary);
			border: 0px solid var(--kern-color-button-primary);
			height: 1.5rem;
			width: 1.5rem;
			border-radius: 50%;
			background: var(--kern-color-primary);
			cursor: pointer;
			margin-top: -0.35rem;
		}

		&:focus::-moz-range-thumb {
			outline-color: var(--kern-color-primary);
			outline-offset: 0.0625rem;
			outline-style: solid;
			outline-width: 0.125rem;
			border-radius: 50%;
		}
	}
}

