:host {
	fieldset {
		border: 0px;
		margin: 0px;
		padding: 0px;

		legend {
			font-size: 1rem;
    line-height: 1rem;
    // width: 100%;
    font-weight: bold;
		margin-bottom: 1rem;
		}

		[slot="input"] {
			gap: 1rem;

			input[type="radio"] {
				transition: none;
				border-radius: 50%;

				&:checked {
					&::before {
						background-color: var(--kern-color-primary);
					}
				}
			}
		}
	}
}
