:host {
  display: grid;
  gap: calc(var(--kern-gap) / 2);

	> div {
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		gap: calc(var(--kern-gap) / 2);

	}

	.selected {
		button {
			> kol-span-wc {
				cursor: not-allowed;
				background-color: var(--kern-color-white);
				border-radius: var(--kern-border-radius);
				border-style: solid;
				border-width: 1px;
				color: var(--kern-color-text);
				min-width: 44px;
				min-height: 44px;
				font-size: inherit;
				font-weight: bold;
			}

			&:disabled {
				opacity: 1;
			}
		}
	}
}

kol-button {
	&::part(icon) {
		font-family: "Material Symbols Rounded";
		font-weight: 400;
	}
	&.first {
		&::part(icon) {
			&:before {
				content: "keyboard_double_arrow_left";
			}
		}
	}
	&.previous {
		&::part(icon) {
			&:before {
				content: "keyboard_arrow_left";
			}
		}
	}
	&.next {
		&::part(icon) {
			&:before {
				content: "keyboard_arrow_right";
			}
		}
	}
	&.last {
		&::part(icon) {
			&:before {
				content: "keyboard_double_arrow_right";
			}
		}
	}
}
