:host {
	progress,
	span {
		display: block;
		height: 0px;
		overflow: hidden;
		width: 0px;
	}
}
svg {
	line:first-child,
	circle:first-child {
		fill: transparent;
		stroke: var(--kern-color-default-light);
	}

	line:last-child,
	circle:last-child {
		stroke: var(--kern-color-primary);
		fill: transparent;
	}
}
progress {
  display: none;
}
