:host {
	> div {
		&.tabs-align-left {
			> div {
				padding-left: 1rem;
			}
		}
		&.tabs-align-right {
			> div {
				padding-right: 1rem;
			}
		}
		&.tabs-align-top {
			> div {
				padding-top: 1rem;
			}
		}
		&.tabs-align-bottom {
			> div {
				padding-bottom: 1rem;
			}
		}
	}

	kol-button-group-wc {
		display: inline-flex;
		gap: 2rem;
		flex-wrap: wrap;

		kol-button-wc {
			height: 3rem;

			button {
				color: var(--kern-color-interaction);
				background-image: repeating-linear-gradient(to right, var(--kern-color-interaction), var(--kern-color-interaction));
				background-repeat: no-repeat;
				background-position: left 0px bottom 0px;
				background-size: 25% 0.25ex;
				border-radius: var(--kren-spacing);
				font-size: inherit;
				transition-timing-function: ease-in-out;
				transition-duration: 0.5s;
				transition-property: background, color, border-color;

				&:focus,
				&:hover,
				&.selected {
					background-size: 100% 0.5ex;
					color:  var(--kern-color-interaction-hover);
					background-image: repeating-linear-gradient(to right, var(--kern-color-interaction-hover), var(--kern-color-interaction-hover));
				}

			}
			button[aria-selected="true"],
			button:focus {
				border-bottom-color: var(--kern-color-primary);
				
				kol-span-wc {
					font-weight: 700;
				}
			}
		}
	}
}
