:host {
	display: block;
}

ul.tasklist__list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

ol.tasklist__list {
	padding-left: 0;
	margin: 0;
}
ol.tasklist__list .tasklist__item {
	margin-left: 1rem;
}

.tasklist__item-header {
	display: flex;
	/* align-items: center; */
	gap: 0 1rem;
	padding: 4px 0;
	min-height: 48px;

	@media all and (max-width: 768px) {
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
.tasklist__title {
	order: 1;
	flex-grow: 1;
	width: 50%;
	padding-top: 0.75rem;
}

.tasklist__status {
	order: 2;
	text-align: right;
	white-space: nowrap;
	padding-top: 0.6rem;

	@media all and (max-width: 768px) {
		width: 100%;
		order: 3;
		text-align: left;
		padding-top: 0;
	}
}

.tasklist__actions {
	order: 3;
	text-align: right;
	min-height: 48px;
	white-space: nowrap;

	@media all and (max-width: 768px) {
		order: 2;
	}
}

.tasklist__data {
	display: flex;
	flex-direction: column;
	gap: var(--semantic-space-sm, 12px);
	align-self: stretch;

	padding: var(--semantic-space-md, 16px);
	border-radius: var(--semantic-borderradius-xs, 8px);
	background: var(--semantic-color-bg-static-subtle, #f2f4f4);

	margin-bottom: 1rem;
}
.tasklist__list .tasklist__item:last-of-type .tasklist__data {
	margin-bottom: 0rem;
}

.tasklist__row {
	display: flex;
	padding: var(--semantic-space-none, 0px);
	align-items: flex-start;
	align-content: flex-start;
	gap: var(--semantic-space-2xs, 4px) var(--semantic-space-xs, 8px);
	align-self: stretch;
	flex-wrap: wrap;
}

.tasklist__key {
	display: flex;
	min-width: 230px;
	max-width: 250px;
	padding: var(--semantic-space-none, 0px);
	align-items: flex-start;
	gap: var(--semantic-space-none, 0px);
	flex: 1 0 0;
}

.tasklist__value {
	font-weight: 700;
	margin-left: 0;

	display: flex;
	min-width: 400px;
	padding: var(--semantic-space-none, 0px);
	align-items: flex-start;
	gap: var(--semantic-space-none, 0px);
	flex: 1 0 0;
}
