<div class="tasklist"><!--tasklist-->
	<div class="tasklist__group">
		<div class="tasklist__group-header">
			<kern-heading _level="4" _label="Überschrift 1"></kern-heading>
		</div>

		<ul class="tasklist__list">

			<li class="tasklist__item">
				<div class="tasklist__item-header">
					<div class="tasklist__title">
						<kern-text _variant="default">1. Personaldaten</kern-text>
					</div>
					<div class="tasklist__status">
						<kern-badge _label="Erledigt" _status="success" _icons="material-symbols-outlined filled small badge_check_circle"></kern-badge>
					</div>
					<div class="tasklist__actions">
						<kern-link-button 
							_href="#" 
							_label="Bearbeiten" 
							_variant="tertiary"
							_icons="{ 'left': { 'icon': 'material-symbols-rounded filled edit' } }"
						></kern-link-button>
					</div>
				</div>
			</li>
		
		</ul>
	</div>
</div>

<div class="tasklist"> <!--zusammenfassung / summary-->
	<dl class="tasklist__group">

		<div class="tasklist__group-header">
			<kern-heading _level="4" _label="Überschrift 1"></kern-heading>
		</div>

		<div class="tasklist__list">					
			<div class="tasklist__item">
				<div class="tasklist__item-header">
					<div class="tasklist__title">
						<kern-text _variant="default">1. Personaldaten</kern-text>
					</div>
					<div class="tasklist__actions">
						<kern-link-button 
							_href="#" 
							_label="Bearbeiten" 
							_variant="tertiary"
							_icons="{ 'left': { 'icon': 'material-symbols-rounded filled edit' } }"
						></kern-link-button>
					</div>
				</div>
				<div class="tasklist__data">
					<div class="tasklist__row">
						<dt class="tasklist__key">Name</dt>
						<dd class="tasklist__value">Max</dd>
					</div>
					<div class="tasklist__row">
						<dt class="tasklist__key">Vorname</dt>
						<dd class="tasklist__value">Mustermann</dd>
					</div>
					<div class="tasklist__row">
						<dt class="tasklist__key">E-Mail</dt>
						<dd class="tasklist__value">maxmustermann@unternehmen.xy</dd>
					</div>
				</div>
			</div>

		</div>

	</dl>
</div>